* {
    font-family: "Arial";
}

li {
    list-style-type: none;
}

.menu_title {
    font-size: 24px;
}

a, a:hover, a:active, a:visited {
    color: #000;
    text-decoration: none;
}


